In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [48]:
#load dataset
data=pd.read_csv('Churn_Modelling.csv')

In [49]:
#Preprocessing of the data
###Dropping irrelevant columns
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [50]:

#Now geography and gender are categorical variables
#Let's encode them
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

#Let's see the distribution of the data
data.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,44,4,142051.07,2,0,1,74940.50,0
9,684,France,1,27,2,134603.88,1,1,1,71725.73,0

In [51]:
#OneHot encoder to encode the geopraphical data
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

In [52]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [53]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df.head(20)

    Geography_France  Geography_Germany  Geography_Spain
0                1.0                0.0              0.0
1                0.0                0.0              1.0
2                1.0                0.0              0.0
3                1.0                0.0              0.0
4                0.0                0.0              1.0
5                0.0                0.0              1.0
6                1.0                0.0              0.0
7                0.0                1.0              0.0
8                1.0                0.0              0.0
9                1.0                0.0              0.0
10               1.0                0.0              0.0
11               0.0                0.0              1.0
12               1.0                0.0              0.0
13               1.0                0.0              0.0
14               0.0                0.0              1.0
15               0.0                1.0              0.0
16               0.0                1.0              0.0
17               0.0                0.0              1.0
18               0.0                0.0              1.0
19               1.0                0.0              0.0

In [54]:
#Now combine the onehotencoded columns with the original data
#we had dropped the geogrphy coloum using --> data.drop('Geography',axis=1,inplace=True)
data=pd.concat([data,geo_encoded_df],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,France,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,France,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [57]:
data.drop('Geography',axis=1,inplace=True)

In [55]:
##Save the encoder and scaler
with open('encoder.pkl', 'wb') as f:
    pickle.dump(label_encoder, f)
with open('onehot_encoder_geo.pkl', 'wb') as f:
    pickle.dump(onehot_encoder_geo, f)

In [ ]:
#Divide data set into dependent and independent variables
X = data.drop(['Exited'], axis=1)
y = data['Exited']

#Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [61]:
with open('scalers.pickle', 'wb') as f:
    pickle.dump(scaler, f)

ANN Implementation

In [67]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation, Flatten
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
X_train.shape[1]

12

In [70]:
##Lets build a simple ANN
model = Sequential([
    Dense(64,activation='relu', input_shape=(X_train.shape[1],)),## HL1 is connected to the input layer
    Dense(32,activation='relu'), ## HL2 is connected to HL1
    Dense(1,activation='sigmoid') ## output layer
])

In [71]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_4 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_6 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
## compile the model
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.001)
model.compile(optimizer=opt, loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
##Setup tensorboard
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [74]:
## setup early stopping
## It is used to check the loss function is really decreasing if not then terminate the training at early stopping epoch
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [81]:
#Training ANN
history = model.fit(X_train, y_train, epochs=100,validation_data=(X_test, y_test),
                    callbacks=[early_stopping, tensorflow_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9071 - loss: 0.2250 - val_accuracy: 0.8430 - val_loss: 0.4324
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9084 - loss: 0.2255 - val_accuracy: 0.8475 - val_loss: 0.4268
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9054 - loss: 0.2255 - val_accuracy: 0.8420 - val_loss: 0.4238
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9054 - loss: 0.2233 - val_accuracy: 0.8475 - val_loss: 0.4286
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9070 - loss: 0.2250 - val_accuracy: 0.8350 - val_loss: 0.4323
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9040 - loss: 0.2251 - val_accuracy: 0.8405 - val_loss: 0.4338
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9050 - loss: 0.2231 - val_accuracy: 0.8380 - val_loss: 0.4304
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9061 - loss: 0.2221 - val_accuracy: 0.8380 - val_loss: 0.4384
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9095 - loss: 0.2209 - val_accuracy: 0.8305 - val_loss: 0.4377
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9090 - loss: 0.2224 - val_accuracy: 0.8325 - val_loss: 0.4339

In [82]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [83]:
#Load tensorboard
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [84]:
%tensorboard --logdir logs/fit20260115-080850

Reusing TensorBoard on port 6007 (pid 18624), started 0:07:41 ago. (Use '!kill 18624' to kill it.)